@import "./reset";
@import "./mixins";
@import "./min-ui-custom";

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: manipulation;

  .iphonex({ height: 812px !important; width: 375px !important; })
}

