@import "~weui/src/style/base/fn";
@import "./variables";

.mint-cell {
  position: relative; //这个是为了兼容cells容器onepx方案被before挡住而做的
  &:before {
    .setTopLine(@weuiCellBorderColor);
    left: @weuiCellGapH;
    z-index: 2;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }

  .mint-cell-title {
    position: relative;
    overflow: hidden;
    overflow-y: visible;
    text-overflow: ellipsis;
    min-height: 24px;
    line-height: 24px;

    img {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -12px;
    }

    .mint-cell-text,
    .mint-cell-label {
      white-space: nowrap;
    }

    img + .mint-cell-text,
    img ~ .mint-cell-label {
      margin-left: 30px;
      line-height: 16px;
    }
    .mint-cell-label {
      margin-top: -2px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .mint-cell-value {
    flex-shrink: 0;
  }
}

.mint-button--primary {
  background-color: @theme-color;
  background: @theme-gradient;
}
